<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <div class="nav">
        <a href="/admin_employee/employee_dashboard">Home</a>
        <a href="#">Feedback</a>
    </div>
    <div>
        <h1>List Of Performance Review For Employee : </h1>
        <h1>Perform Action On Feedback :</h1>
        <ul>

            <form action="" , method="POST">
                <li>
                    <input id="name" type="text" name="name" placeholder="Enter The Name">
                    <input id="email" type="text" name="email" placeholder="Enter The Email">
                    <input id="password" type="text" name="password" placeholder="Enter The Password">
                    <button id="button">Add Feedback</button>
                </li>
            </form>

            <!-- update -->

            <form action="" , method="POST">
                <li>
                    <input id="name" type="text" name="name" placeholder="Enter The Name">
                    <input id="email" type="text" name="email" placeholder="Enter The Email">
                    <input id="password" type="text" name="password" placeholder="Enter The Password">
                    <button id="button">Update Feedback</button>
                </li>
            </form>


        </ul>
    </div>
</body>

</html>