<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <table>
        
        <form action="/admin_employee/add_employee" , method="POST">
            <tr>
                <td><input id="name" type="text" name="name" placeholder="Enter The Name"></td>
                <td><input id="email" type="text" name="email" placeholder="Enter The Email"></td>
                <td><input id="password" type="text" name="password" placeholder="Enter The Password"></td>
                <td><button id="button">Add Employee</button></td>
            </tr>
        </form>
        <!-- delete -->
        <form action="/admin_employee/delete_employee" , method="POST">
            <tr>
                <td><input id="name" type="text" name="name" placeholder="Enter The Name"></td>
                <td><input id="email" type="text" name="email" placeholder="Enter The Email"></td>
                <td><input id="password" type="text" name="password" placeholder="Enter The Password"></td>
                <td><button id="button">Delete Employee</button></td>
            </tr>
        </form>
        <!-- update -->
        <form action="/admin_employee/update_employee" , method="POST">
            <tr>
                <td><input id="name" type="text" name="name" placeholder="Enter The Name"></td>
                <td><input id="email" type="text" name="email" placeholder="Enter The Email"></td>
                <td><input id="password" type="text" name="password" placeholder="Enter The Password"></td>
                <td><button id="button">Update Employee</button></td>
            </tr>
        </form>

        <!-- view -->
        
    </table>
</body>

</html>