<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <div class="nav">
        <a href="/admin_employee/employee_dashboard">Home</a>
        <a href="#">Feedback</a>
    </div>
</body>

</html>