<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <div id="employeeData">
        <h1>List of performance review : </h1>
        <% for(var i=0; i<allEmployee.length; i++) {%>
            <div>
                <span>Name : <%= allEmployee[i].name %></span>
                <span>Email : <%= allEmployee[i].email %></span>
                <button><a href="/employee/<%= allEmployee[0].id %>">Feedback</a></button><br><br>
            </div>
            <% } %>
    </div>
</body>

</html>