<html>

<head>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <% if(flash.success && flash.success.length > 0) { %>
        <h5>
            <%= flash.success %>
        </h5>
        <% } %>
    <%- body %>

</body>

</html>