<link rel="stylesheet" href="/css/signup.css">
<div id="registerForEmployees">
    <h1>Sign Up</h1>
    <form action="/employee/register" , method="POST">
        <input id="name" type="text" name="name" placeholder="Enter The Name"><br><br>
        <input id="email" type="text" name="email" placeholder="Enter The Email"><br><br>
        <input id="password" type="text" name="password" placeholder="Enter The Password"><br><br>
        <input id="mobile" type="text" name="mobile" placeholder="Enter The Mobile No"><br><br>
        <input id="city" type="text" name="city" placeholder="Enter The city"><br><br>
        <button id="button">submit</button>
    </form>
</div>